<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Docs List</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <div class="inner-wrapper">
    <form [formGroup]="docForm" (ngSubmit)="submitDocForm()" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          
          <mat-form-field class="example-full-width">
            <input matInput 
              placeholder="documentNumber" 
              formControlName="documentNumber">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput 
              placeholder="currencyCode" 
              formControlName="currencyCode">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput 
              placeholder="documentDateStart" 
              formControlName="documentDateStart">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput 
              placeholder="documentDateEnd" 
              formControlName="documentDateEnd">
          </mat-form-field>
        </div>
      </mat-card>
         
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Submit</button>
          </div>
        </div>
      </mat-card>
      
    </form>
  </div>
  
  <p *ngIf="DocData.length <= 0" class="no-data">There are no Docs to be displayed!</p>
  
  <div class="container" *ngIf="DocData.length > 0">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="documentNumber">
          <th mat-header-cell *matHeaderCellDef> documentNumber </th>
          <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
        </ng-container>
  
        <ng-container matColumnDef="documentDate">
          <th mat-header-cell *matHeaderCellDef> documentDate</th>
          <td mat-cell *matCellDef="let element"> {{element.documentDate}} </td>
        </ng-container>
  
        <ng-container matColumnDef="currencyCode">
          <th mat-header-cell *matHeaderCellDef> currencyCode </th>
          <td mat-cell *matCellDef="let element"> {{element.currencyCode}} </td>
        </ng-container>
  
        <ng-container matColumnDef="documentValue">
          <th mat-header-cell *matHeaderCellDef> documentValue </th>
          <td mat-cell *matCellDef="let element"> {{element.documentValue}} </td>
        </ng-container>

        <ng-container matColumnDef="currencyDesc">
          <th mat-header-cell *matHeaderCellDef> currencyDesc </th>
          <td mat-cell *matCellDef="let element"> {{element.currencyDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="usdValue">
          <th mat-header-cell *matHeaderCellDef> usdValue </th>
          <td mat-cell *matCellDef="let element"> {{element.usdValue}} </td>
        </ng-container>

        <ng-container matColumnDef="penValue">
          <th mat-header-cell *matHeaderCellDef> penValue </th>
          <td mat-cell *matCellDef="let element"> {{element.penValue}} </td>
        </ng-container>

        <ng-container matColumnDef="brlValue">
          <th mat-header-cell *matHeaderCellDef> brlValue </th>
          <td mat-cell *matCellDef="let element"> {{element.brlValue}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
